.scrollable-content {
    height: 300px; /* height for desktop */
    overflow-y: auto;
    overflow-x: 'hidden';
    box-sizing: content-box;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .scrollable-content {
        height: 500px; /* height for mobile */
    }
}
