{% extends 'base.html' %}
{% load static %}

{% block title %}Big A Book Club | {{ request.user }}'s Account{% endblock title %}


{% block content %}
<div class="container flex flex-col mx-auto">
    <!-- #region Hero Section -->
    <section class="w-1/2 flex flex-col mx-auto text-center my-10">
        <p class="mb-8 text-5xl font-bold">Account</p>
    </section>
    <!-- #endregion Hero Section -->
    <section class="flex flex-col mx-auto my-10">
        <p class="mb-8 text-4xl font-bold text-center">Your Bookmarks</p>
        {% if books %}
        {% include 'partials/_recommendation_list.html' %}
        {% endif %}
    </section>
    <script src="{% static '/js/scroll_position.js' %}"></script>
</div>
{% endblock content %}