{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="content">
    {% if form.errors %}
    {% for field,error in form.errors.items %}
    <div class="my-2 alert alert-danger alert-dismissible fade show" role="alert">
        Unable to Submit: {{ error|striptags }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {%endif%}

    {% if messages %}
    {% for message in messages %}
    <div class="my-2 alert {{ message.tags }} alert-dismissible fade show text-center" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {%endif%}
    <div class="px-4 p-5 my-5 text-center" id="header">
        <p class="display-5 fw-bold text-body-emphasis">
            Join the Club!
        </p>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                Register for to join the book club and gain acess to member features (e.g. liking/upvoting, etc.). Come
                join the Big A Book Club today!
            </p>
        </div>
    </div>
    <div class="container px-4 pb-5 text-center">
        <div class="col-lg-8 mx-auto">
            <p class="display-6">Register Here</p>
            <p class="mb-4">
                Create an account below.
            </p>
            <div class="col-lg-6 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password1 }}
                    <div id="password1HelpBlock" class="form-text mb-1">
                        {% for help_text in form.password1.help_text %}
                        <p class="my-1 py-0">{{ help_text }}</p>
                        {% endfor %}
                    </div>
                    {{ form.password2 }}
                    <div id="password2HelpBlock2" class="form-text mb-3">
                        {{ form.password2.help_text }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}