<div class="join justify-center my-8" hx-target="#recommendation-list" hx-swap="outerHTML show:top"
    hx-include="#filter-form">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <button class="join-item btn" hx-get="?page=1">&laquo; first</button>
        <button class="join-item btn" hx-get="?page={{ page_obj.previous_page_number }}">previous</button>
        {% endif %}

        <button class="join-item btn">
            Page {{ page_obj.number }}
        </button>

        {% if page_obj.has_next %}
        <button class="join-item btn" hx-get="?page={{ page_obj.next_page_number }}">next</button>
        <button class="join-item btn" hx-get="?page={{ page_obj.paginator.num_pages }}">last &raquo;</button>
        {% endif %}
    </span>
</div>