{% load custom_filters %}

<div class="flex flex-col min-w-full" id="recommendation-{{book.id}}">
    <a href="{% url 'book_details' book.id %}">
        <p class="text-4xl font-bold">{{ book.title }}<span class="text-sm font-light"> by
                {{ book.author|format_authors}}</span>
        </p>
    </a>
    {% if book.submitter %}
    <p>Submitted by {{ book.submitter }}</p>
    {% endif %}

    {% if book.amazon_link or book.stream_link%}
    <div class="flex flex-row mt-4 gap-4">
        {% if book.amazon_link %}
        <a href="{{ book.amazon_link }}" class="btn btn-outline btn-primary btn-sm">Buy on Amazon</a>
        {% endif %}
        {% if book.stream_link %}
        <a href="{{ book.stream_link }}" class="btn btn-outline btn-primary btn-sm">View Stream Clip</a>
        {% endif %}
        {% include 'partials/_book_buttons.html' %}
    </div>
    {% endif %}
</div>