<form id="submission-submit-form" hx-post="{% url 'submissions' %}" class="flex flex-col"
    hx-include="#submission-submit-form">
    {% csrf_token %}
    <input type="text" name="title" id="form-book-title" class="my-1 hidden">
    <input type="text" name="author" id="form-book-author" class="my-1 hidden">
    <input type="text" name="isbn" id="form-book-isbn" class="my-1 hidden">
    <select type="text" name="source" id="form-book-source" class="my-1 select select-bordered w-full"
        onchange="handleSourceChange()">
        <option value="CHAT">Chatter</option>
        <option value="ATRIOC">Atrioc</option>
    </select>
    <input type="text" name="submitter" id="form-book-submitter" class="my-1 input input-bordered w-full"
        placeholder="Twitch Username">
    <input type="text" name="stream_link" id="form-book-streamlink" class="my-1 input input-bordered w-full"
        placeholder="Stream VOD Link">
    <button id="submit-button" type="submit" class="mx-auto mt-5 btn btn-wide btn-primary btn-disabled">Submit</button>
    {% if form.errors %}
    {% for field,error in form.errors.items %}
    <div role="alert" class="alert alert-error w-full mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ error }}</span>
    </div>
    {% endfor %}
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <div role="alert" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} w-full mt-5">
        {% if message.tags == 'success' %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        {% endif %}
        <span>{{ message }}</span>
    </div>
    {% endfor %}
    {%endif%}
</form>