<form hx-post="post" class="flex flex-col">
    {% csrf_token %}
    <input type="text" id="form-book-title" class="my-1 hidden">
    <input type="text" id="form-book-author" class="my-1 hidden">
    <input type="text" id="form-book-isbn" class="my-1 hidden">
    <select type="text" id="form-book-source" class="my-1 select select-bordered w-full"
        onchange="handleSourceChange()">
        <option value="CHAT">Chatter</option>
        <option value="ATRIOC">Atrioc</option>
    </select>
    <input type="text" id="form-book-submitter" class="my-1 input input-bordered w-full" placeholder="Twitch Username">
    <input type="text" id="form-book-streamlink" class="my-1 input input-bordered w-full" placeholder="Stream VOD Link">
    <button id="submit-button" type="submit" class="mx-auto mt-5 btn btn-wide btn-primary btn-disabled">Submit</button>
</form>