<div class="mb-8">
    <div class="relative mt-2 rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 flex items-center z-10">
            <select id="search-key" name="search-key" class="select select-bordered w-full">
                <option>Title</option>
                <option>Author</option>
                <option>ISBN</option>
            </select>
        </div>
        <div class="dropdown w-full">
            <input type="text" name="search-value" id="search-value" class="input input-bordered w-full pl-28"
                placeholder="Enter To Search for Book">
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box max-h-52 overflow-y-auto">
                {% for item in dropdownItems %}
                <li>
                    {% if item.text != 'No Results for that Search Item' %}{% endif %}>
                    {{ item.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>