{% load static %}
<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/coffee-cows-reading-recommendations.jpg' %}"
                class="d-block mx-lg-auto img-fluid rounded-circle" alt="Bootstrap Themes" width="500" height="500"
                loading="lazy">
        </div>
        <div class="col-lg-6">
            <p class="lead fs-4">Use the drop down at the top to filter between books recommended by Atrioc
                and books recommended by chat. Books recommended by Atrioc will have a link to the stream clip where he
                talks about the book.</p>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-lg-6">
            <p class="lead fs-4">I <strong>HIGHLY RECOMMEND</strong> that if you are interested in purchasing any of the
                books listed that you, as the Glarketer once said "Think GLOCAL, shop LOCAL", find a bookstore in
                your area to support. However, there will be affliate links to Amazon where you can purchase the book.
                The proceeds generated go towards the upkeep and maintenence of this site, and additional earnings will
                be spent supporting charitable causes (and building the <a href="https://atrioc.org"
                    target="_blank">ACLU</a> strike
                fund).
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'img/frogs-reading-recommendations.jpg' %}"
                class="d-block mx-lg-auto img-fluid rounded-circle" alt="Bootstrap Themes" width="500" height="500"
                loading="lazy">
        </div>
    </div>
</div>