{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="content">
    <div class="px-4 py-5 my-5 text-center" id="header">
        <h1 class="display-3 fw-bold text-body-emphasis mb-3">Recommendation</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-2 fs-4">Get Smarter ANYDAY by reading some of the great books suggested by Chatters and
                the Glizlord himself below.</p>
        </div>
    </div>
    {% include 'partials/recommendation_instructions.html' %}
    {% include 'partials/book_recommendation.html' %}
</div>
{% endblock content %}