{% extends "base.html" %}
{% load static %}


{% block title %}Big A Book Club{% endblock title %}
{% block description %}Big A Book Club Home Page{% endblock description %}

{% block content %}
<div class="container flex flex-col mx-auto">
    <!-- #region Hero Section -->
    <section class="w-1/2 max-md:w-10/12 flex flex-col mx-auto text-center my-10">
        <img class="w-48 h-48 mx-auto" src="{% static '/img/logo-purple.png' %}" alt="purple big a book club logo">
        <p class='font-light text-xl mb-4'>
            A website designed to help chatters, vod frogs, discord degens, reddit
            roaches, and even EU f*cks find, share, and collect books recommended
            by their fellow sigmas, ACLU comrades, and more importantly the
            fizziest <strong>Dr. Carbonation</strong> himself.
        </p>
        <p class='font-bold text-xl mb-4'>
            Get Started by Finding or Recommending Books Here:
        </p>
        <div class="flex flex-row max-md:flex-col mx-auto my-auto gap-3">
            <a class="btn btn-outline btn-lg btn-primary" href="/books/submissions">Submissions</a>
            <a class="btn btn-outline btn-lg btn-primary" href="/books/recommendations">Recommendations</a>

        </div>
    </section>
    <!-- #endregion Hero Section -->
    <!-- #region Reaction Section -->
    <section class="flex flex-col max-md:w-10/12 mx-auto my-10 space-y-12">
        <div class="flex bg-atriocPurple rounded-3xl">
            <div class="flex flex-row max-md:flex-col justify-evenly space-x-10 max-md:space-x-0 m-16">
                <div class="w-1/2 max-md:w-full my-auto">
                    <iframe class="w-full aspect-[16/9]"
                        src='https://www.youtube.com/embed/yy2ACeR_vRI?si=G_mq2oWnI-m35WD2&amp;clip=UgkxXUSV6EegzgRj-8g4tsVACr2VBT30ZiaU&amp;clipt=EMCNHBiTqh8'
                        frameborder="0" title='Big A BookClub Reaction'>
                    </iframe>
                </div>
                <div class="w-1/2 max-md:w-full my-auto">
                    <h1 class='text-center text-4xl max-md:text-2xl font-bold mb-3'>
                        Reaction with Raving Reviews!
                    </h1>
                    <p class='font-light text-xl max-md:text-center'>
                        In a live on stream first reaction, Atrioc praises the website and
                        the work being done by the community for cataloging his reads even
                        giving a thumbs up to a book suggested by chatters!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- #endregion Reaction Section -->
    <!-- #region About Section -->
    <section class="flex flex-col mx-auto my-10 space-y-12">
        <div class="flex flex-row max-md:flex-col justify-between gap-10 mx-auto">
            <div class="flex flex-col mx-auto w-1/2 max-md:w-10/12 my-auto">
                <h1 class='text-center text-4xl font-bold mb-3'>
                    What the Book Club Is
                </h1>
                <p class='font-light text-xl'>
                    A place for those in the Atrioc community who seek to one day be
                    as wise as the thousand year old Glarketer by reading the same
                    books on the coveted shelf obstructed by the Wigglers MASSIVE
                    shiny forehead. Additionally, chat with it's infinite wisdom, also
                    contributes many amazing reads, and this site seeks to be the
                    consolidation of that information.
                </p>
            </div>
            <div class="flex flex-row max-md:flex-col mx-auto w-1/2 max-md:w-10/12 justify-center">
                <img class="w-[700] h-[700] rounded-full" src="{% static '/img/people-at-library-home.jpg' %}"
                    alt="People at a Library">
            </div>
        </div>
        <div class="flex flex-row-reverse max-md:flex-col justify-between gap-10 mx-auto">
            <div class="flex flex-col mx-auto w-1/2 max-md:w-10/12 my-auto">
                <h1 class='text-center text-4xl font-bold mb-3'>
                    Why the Book Club
                </h1>
                <p class='font-light text-xl'>
                    Atrioc hoards his knowledge (much like his coffee) from chat.
                    Despite no fault of chat's own, when innocently asked "any book
                    recommendations?" in attempt to learn from his ways, chat is
                    berated. Well no more, chat should not have knowledge gatekept and
                    this site shall unleash that access.
                </p>
            </div>
            <div class="flex flex-rowmax-md:flex-col mx-auto w-1/2 max-md:w-10/12 justify-center">
                <img class="w-[700] h-[700] rounded-full" src="{% static '/img/people-sharing-home.jpg' %}"
                    alt="People at a Library">
            </div>
        </div>
        <div class="flex flex-row max-md:flex-col justify-between gap-10 mx-auto">
            <div class="flex flex-col mx-auto w-1/2 max-md:w-10/12 my-auto">
                <h1 class='text-center text-4xl font-bold mb-3'>
                    How Book Club Works
                </h1>
                <p class='font-light text-xl'>
                    When Dr. Carbonation mentions a book that he is reading, anyone
                    can come and submit that book and a clip from stream of Glizzy
                    Fingers talking about it to be kept in the records. Additionally,
                    any books that chat would like to share can be submitted for the
                    record. Once submitted, books are added to an approval queue
                    before being added to the recommendations page where they are
                    dividied by Atrioc & chat recommendations and shared with the
                    community.
                </p>
            </div>
            <div class="flex flex-rowmax-md:flex-col mx-auto w-1/2 max-md:w-10/12 justify-center">
                <img class="w-[700] h-[700] rounded-full" src="{% static '/img/people-reading-home.jpg' %}"
                    alt="People at a Library">
            </div>
        </div>
    </section>
    <!-- #endregion About Section -->
</div>
{% endblock content %}