{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

<!-- #region Head Details -->
{% block title %}Big A Book Club | {{ book.title }} by {{ book.author }}{% endblock title %}
{% block primary_description %}{{ book.title }} by {{ book.author }} - {{ description | truncatechars:280 }}
{% endblock primary_description %}
{% block og_description %}{{ book.title }} by {{ book.author }} - {{ description | truncatechars:280 }}
{% endblock og_description %}
{% block tw_description %}{{ book.title }} by {{ book.author }} - {{ description | truncatechars:280 }}
{% endblock tw_description %}
<!-- #endregion Head Details -->

{% block content %}
<div class="flex flex-col my-10 mx-auto w-full max-md:w-10/12">
    <!-- #region Navigation Buttons -->
    <div class="flex flex-row justify-between mb-8 w-full">
        <a class="btn btn-primary" href="{% url 'recommendations' %}"><svg xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
            Recommendations</a>
        <a class="btn btn-primary" href="{% url 'profile' %}">Account <svg xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </a>
    </div>
    <!-- #endregion Navigation Buttons -->
    <div class="flex flex-col items-center">
        {% if image_url %}
        <img class="w-[250px] mb-8" src="{{ image_url }}" alt="{{book.title}} by {{book.author}} Book Cover Image">
        {% endif %}
        <p class="text-5xl max-md:text-3xl font-bold mb-3 text-center">{{ book.title }}</p>
        <p class="font-light mb-3">by {{ book.author | format_authors }}</p>
        <div class="mb-4">
            {% include 'partials/_book_buttons.html' %}
        </div>
        <div class="flex flex-row gap-4 mb-10">
            {% if book.amazon_link %}
            <a href="{{ book.amazon_link }}" class="btn btn-outline btn-primary btn-sm">Buy on Amazon</a>
            {% endif %}
            {% if book.stream_link %}
            <a href="{{ book.stream_link }}" class="btn btn-outline btn-primary btn-sm">View Stream Clip</a>
            {% endif %}
        </div>
        {% if description %}
        <p class="text-justify">{{ description }}</p>
        {% else %}
        <p>No Summary/Description Available. Please feel free to checkout the Amazon Link for more details.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}