{% extends 'base.html' %}
{% load static %}

{% block title %}Big A Book Club | Recommendations{% endblock title %}

{% block content %}
<div class="container flex flex-col mx-auto">
    <!-- #region Hero Section -->
    <section class="w-1/2 flex flex-col mx-auto text-center my-10">
        <p class="mb-8 text-5xl font-bold">Recommendations</p>
        <p class="text-xl font-light text-center">Get Smarter ANYDAY by reading some of the great books suggested by
            Chatters and the Glizlord himself below.</p>
    </section>
    <!-- #endregion Hero Section -->
    <!-- #region Instructions Section -->
    <section class="flex flex-col mx-auto my-10 space-y-12">
        <div class="flex flex-row justify-between gap-10">
            <div class="flex flex-row w-1/2 justify-center">
                <img class="w-[500] h-[500] rounded-full"
                    src="{% static '/img/coffee-cows-reading-recommendations.jpg' %}" alt="People at a Library">
            </div>
            <div class="w-1/2 my-auto">
                <p class='font-light text-xl'>
                    Use the drop down at the top to filter between books recommended by
                    Atrioc and books recommended by chat. Books recommended by Atrioc
                    will have a link to the stream clip where he talks about the book.
                </p>
            </div>
        </div>
        <div class="flex flex-row-reverse justify-between gap-10">
            <div class="flex flex-row w-1/2 justify-center">
                <img class="w-[500] h-[500] rounded-full" src="{% static '/img/frogs-reading-recommendations.jpg' %}"
                    alt="People at a Library">
            </div>
            <div class="w-1/2 my-auto">
                <p class='font-light text-xl'>
                    I <strong>HIGHLY RECOMMEND</strong> that if you are interested in
                    purchasing any of the books listed that you, as the Glarketer once
                    said "Think GLOCAL, shop LOCAL", find a bookstore in your area to
                    support. However, there will be affliate links to Amazon where you
                    can purchase the book. The proceeds generated go towards the upkeep
                    and maintenence of this site, and additional earnings will be spent
                    supporting charitable causes (and building the
                    <a href='https://atrioc.org' target='_blank'
                        class="underline decoration-primary text-primary">ACLU</a> strike fund)
                </p>
            </div>
        </div>
    </section>
    <!-- #endregion Instructions Section -->
    <!-- #region Recommendations List Section -->
    <section class="flex flex-col mx-auto my-10">
        {% include 'partials/_searchbar.html' %}
        {% include 'partials/_recommendation_list.html' %}
    </section>
    <!-- #endregion Recommendations List Section -->
</div>

<script src="{% static '/js/scroll_position.js' %}"></script>
{% endblock content %}